@import '../../theme/mixins.scss';

.hourly {
  @include card();
  padding: 10px;
  margin-top: 20px;
  flex-wrap: nowrap;
  overflow-x: scroll;

  &__card {
    margin: 10px;
    padding: 10px;
    min-width: 100px;
    min-height: 100px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,.2);
  }

  &__temp {
    font-size: 32px;
    position: relative;

    &::after {
      @include degree();
    }
  }

  &__time {
    margin-top: 10px;
    font-size: 20px;
  }
}