@mixin flex-container($direction: row, $wrap: wrap, $justify: flex-start) {
  display: flex;
  flex-wrap: $wrap;
  justify-content: $justify;
}

@mixin card() {
  @include flex-container();
  padding: 10px;
  border-radius: 6px;
  background-color: var(--color-secondary);
  box-shadow: 0 0 12px 0 rgba(0,0,0,.2);
}

@mixin degree() {
  content: '';
    position: absolute;
    top: 5px;
    width: 6px;
    height: 6px;
    margin-left: 5px;
    border-radius: 50%;
    border: 3px solid black;
}