.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  text-align: center;
  min-height: 50px;

  > div {
    min-width: 80%;
    max-width: 1280px;
    margin: 15px auto;
  }
}