.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  text-align: center;
  min-height: 50px;

  > div {
    margin-top: 15px;
  }
}