@import '../../theme/mixins.scss';

.current {
  @include flex-container($justify: space-between);

  &__main {
    @include card();
    margin-right: 10px;
  }

  &__additional {
    @include card();
  }

  &__item {
    @include flex-container($justify: space-between);
  }

  &__temp {
    font-size: 32px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 5px;
      width: 6px;
      height: 6px;
      margin-left: 5px;
      border-radius: 50%;
      border: 3px solid black;
    }
  }

  &__desc {
    text-transform: capitalize;
  }
}