@import '../../theme/mixins.scss';

.current {
  @include flex-container($justify: space-between);

  &__main {
    @include card();
    flex-grow: 1;
    margin-right: 10px;
    background-color: var(--color-third);
  }

  &__additional {
    @include card();
    flex-grow: 1;
    background-color: var(--color-third);
  }

  &__item {
    @include flex-container($justify: space-between);
  }
}