@import '../../theme/mixins.scss';

.current {
  @include flex-container($justify: space-between);

  &__main {
    @include card();
    flex-grow: 1;
    margin-right: 20px;
  }

  &__additional {
    @include card();
    flex-grow: 1;
    justify-content: space-between;
  }

  &__item {
    @include flex-container($justify: space-between);
  }

  &__temp {
    font-size: 32px;
    position: relative;

    &::after {
      @include degree();
    }
  }

  &__desc {
    text-transform: capitalize;
  }
}